.kreis {
    background: skyblue;
    border-radius: 50%;
    width: 1000px;
    height: 1000px;
    margin-top: -450px;
    margin-left: 25%;
    display: block;
}
.kreisinhalt {
    padding-top: 600px;
}
.kreisinhalt h1 {
    position: absolute;
    font-size: 200px;
    color: white;
    font-family: sans-serif;
    letter-spacing: 0.2px;
    top: 5px;
    left: 575px;
}
.kreisinhalt h2 {
    position: absolute;
    font-size: 90px;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    top: 100px;
    right: 500px;
}
.introText {
    position: absolute;
    text-align: left;
    width: 27%;
    font-size: 15px;
    color: white;
    top: 265px;
    right: 550px;
}
.logo {
    opacity: 50%;
    position: absolute;
    top: 450px;
    left: 950px;
}
.logo:hover {
    opacity: 100%;
}

body{
    font-family: sans-serif;
    background-image: url("bg.png");
}
h1 {
    text-decoration: none;
    font-size: 100px;
    font-weight: bold;
    margin-top: 10px;
    color: cornflowerblue;
}
h2 {
    text-decoration: none;
    font-size: 30px;
    font-weight: lighter;
    color: black;
    
}
h1, h2, p {
    text-align: center;
}


ul {
    list-style-type: none;
    top: 0px;
    right: 50px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0px;
    width: 14,5%;
}
li {
    float: right;
    border-right: 1px solid white;
    border-left: 1px solid white;
}
li:last-child {
    border-right: none;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

a:hover {
    color: cyan;
}
#link1 {
    color: cyan;
}
#link2 {
    color: cyan;
}
#link3 {
    color: cyan;
}