.kreis {
    background: red;
    border-radius: 50%;
    width: 1000px;
    height: 1000px;
    margin-top: -600px;
    margin-left: 25%;
    display: block;
}
.kreisinhalt {
    padding-top: 600px;
}

.introText {
    text-align: right;
    width: 30%;
    margin-left: auto;
    padding-right: 80px;
    margin-top: -50px;
}
.kreisinhalt h1 {
font-size: 150px;
color: white;
font-family: sans-serif;
}
body{
    font-family: sans-serif;
    background-image: url("bg.png");
}
h1 {
    text-decoration: none;
    font-size: 100px;
    font-weight: bold;
    margin-top: 10px;
    color: cornflowerblue;
}
h2 {
    text-decoration: none;
    font-size: medium;
    font-weight: lighter;
    color: black;
}
h1, h2, p {
    text-align: center;
}


ul {
    list-style-type: none;
    top: 0px;
    right: 10px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0px;
    width: 14,5%;
}
li {
    float: right;
    border-right: 1px solid white;
    border-left: 1px solid white;
}
li:last-child {
    border-right: none;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

a:hover {
    color: cyan;
}
#link1 {
    color: cyan;
}
#link2 {
    color: cyan;
}
#link3 {
    color: cyan;
}